
<!DOCTYPE html>
<html data-style-switcher-options="{'changeLogo': false, 'colorPrimary': '#ef524e', 'colorSecondary': '#e36159', 'colorTertiary': '#2baab1', 'colorQuaternary': '#383f48', 'borderRadius': '4px'}">
	<head>
		
		<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="BV_Ecommerce &#189; Product planner &amp; celebration html Template" />
<meta name="author" content="https://www.websiteexperts.in/" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bodhivruksha family Bhakti player</title>

<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

		<!-- Favicon -->
		<link rel="shortcut icon" href="public/images/logo.jpeg" type="image/x-icon" />
		<link rel="apple-touch-icon" href="public/images/logo.jpeg">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet" type="text/css">
       
	   <!--font awasome icons-->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="public/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="public/assets/css/all.min.css">
		<link rel="stylesheet" href="public/assets/css/animate.compat.css">
		<link rel="stylesheet" href="public/assets/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="public/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="public/assets/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="public/assets/css/magnific-popup.min.css">
		<link rel="stylesheet" href="public/assets/css/star-rating.min.css">
		<link rel="stylesheet" href="public/assets/css/theme.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="public/assets/css/theme.css">
		<link rel="stylesheet" href="public/assets/css/theme-elements.css">
		<link rel="stylesheet" href="public/assets/css/theme-blog.css">
		<link rel="stylesheet" href="public/assets/css/theme-shop.css">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="public/assets/css/demo-product-landing.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="public/assets/css/skin-product-landing.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="public/assets/css/custom.css">

		<!-- Head Libs -->
		<script src="public/assets/js/modernizr.min.js"></script>



		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-SEP1T05Z5V"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-SEP1T05Z5V');
		</script>
		
		<style>
		.toggle-password {
            float: right;
            cursor: pointer;
            margin-right: 10px;
            margin-top: -25px;
         }
		</style>

	</head>
	<!--<body data-plugin-scroll-spy data-plugin-options="{'target': '#header'}">-->
	<body id="body" class="one-page alternative-font-5" data-plugin-scroll-spy data-plugin-options="{'target': '#header'}">
		
		<div class="body">
		
			@include('newheaderLayouts.headernew1')
			
			<!--<header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
				<div class="header-body border-top-0 bg-dark box-shadow-none">
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-row">
									<div class="header-logo">
										<a href="#">
											
										</a>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end">
								<div class="header-row">
									<div class="header-nav header-nav-links header-nav-dropdowns-dark header-nav-dark-text order-2 order-lg-1">
										<div class="header-nav-main header-nav-main-font-lg header-nav-main-font-lg-upper-1 header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="dropdown">
														<a data-hash class="nav-link active" href="home" style="font-size:15px">
															Home
														</a>
														<ul class="dropdown-menu">
															<li><a class="nav-link" href="home#gallery" style="font-size:15px">Image Gallery</a></li>
															<li><a class="nav-link" href="home#videos" style="font-size:15px">Videos</a></li>
														</ul>
													</li>
													<li>
														<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="home#aboutus" style="font-size:15px">About us</a>
													</li>
													<li>
														<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="videos" style="font-size:15px">Videos</a>
													</li>
													<li>
														<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="home#specifications" style="font-size:15px">Specifications</a>
													</li>
													
													<li>
														<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="contactus" style="font-size:15px">Contact Us</a>
													</li>
													<li>
														<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="feedback" style="font-size:15px">Feedback</a>
													</li>
													<li>
														<a class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="68" href="buynow_without_login" style="font-size:15px">Buy Now</a>
													</li>
												</ul>
											</nav>
										</div>
										<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>-->
<br><br><br>

			<div role="main" class="main">
				<div class="container shop py-3">
				    
					<form role="form" class="needs-validation" method="post" action="{{ route('user.data') }}">
					@if(Session::get('success'))
					<div class="alert alert-success">
						{{Session('success')}}
					</div>

					@endif

					@if(Session::get('fail'))
					<div class="alert alert-danger">
						{{Session('fail')}}
					</div>

					@endif

						@csrf
						<div class="row">
						   
							<!--<div class="col-lg-7 mb-4 mb-lg-0 coupon-form-wrapper collapse mb-5">-->
                                <div class="col-lg-7 mb-4 mb-lg-0 mb-5" style="border:3px solid black;padding: 45px;margin-left: 90px;">
								<h2 style="text-align:center;color:white;background-color:#006666;padding:10px;border-radius:10px">Registration</h2>
								<h2 class="text-color-dark font-weight-bold text-5-5 mb-3">Customer Details</h2>
								<div class="row">
									<div class="form-group col-md-6">
										<label class="form-label">First Name <span class="text-color-danger">*</span></label>
										<input type="text" class="form-control h-auto py-2" name="firstName" value="{{ old('firstName') }}" required />
											<span class="text-danger">@error('firstName'){{$message}}@enderror</span>
									</div>
									<div class="form-group col-md-6">
										<label class="form-label">Last Name <span class="text-color-danger">*</span></label>
										<input type="text" class="form-control h-auto py-2" name="lastName" value="{{ old('lastName') }}" required />
										<span class="text-danger">@error('lastName'){{$message}}@enderror</span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<label class="form-label">Phone <span class="text-color-danger">*</span></label>
										<input type="number" class="form-control h-auto py-2" name="phone" value="{{ old('phone') }}" required />
										<span class="text-danger">@error('phone'){{$message}}@enderror</span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<label class="form-label">Email Address <span class="text-color-danger">*</span></label>
										<input type="email" class="form-control h-auto py-2" name="email" value="{{ old('email') }}" required />
										<span class="text-danger">@error('email'){{$message}}@enderror</span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<label class="form-label">Password<span class="text-color-danger">*</span></label>
										<input type="password" class="form-control h-auto py-2" name="password" required />
										<i class="toggle-password fa fa-fw fa-eye-slash"></i>
										<span class="text-danger">@error('password'){{$message}}@enderror</span>
									</div>
								</div>
								<!--<div class="row">
									<div class="form-group col">
										<label class="form-label">Company Name</label>
										<input type="text" class="form-control h-auto py-2" name="companyName" value="" />
									</div>
								</div>-->
							
								<div class="row">
									<div class="form-group col">
										<label class="form-label">Street Address <span class="text-color-danger">*</span></label>
										<input type="text" class="form-control h-auto py-2" name="address1" value="{{ old('address1') }}" placeholder="House number and street name" required />
										<span class="text-danger">@error('address1'){{$message}}@enderror</span>
									</div>
								</div>
								<!--<div class="row">
									<div class="form-group col">
										<input type="text" class="form-control h-auto py-2" name="address2" value="" placeholder="Apartment, suite, unit, etc..." required />
									</div>
								</div>-->
								<div class="row">
									<div class="form-group col">
										<label class="form-label">Town/City <span class="text-color-danger">*</span></label>
										<input type="text" class="form-control h-auto py-2" name="city" value="{{ old('city') }}" required />
										<span class="text-danger">@error('city'){{$message}}@enderror</span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<label class="form-label">State <span class="text-color-danger">*</span></label>
										<input type="text" class="form-control h-auto py-2" name="state" value="{{ old('state') }}" required />
										<span class="text-danger">@error('state'){{$message}}@enderror</span>
										<!--<div class="custom-select-1">
											<select class="form-select form-control h-auto py-2" name="state" required>
												<option value="" selected></option>
												<option value="ny">Nova York</option>
												<option value="ca">California</option>
												<option value="tx">Texas</option>
												<option value="">Florida</option>
											</select>
										</div>-->
									</div>
								</div>
									<div class="row">
									<div class="form-group col">
										<label class="form-label">Country/Region <span class="text-color-danger">*</span></label>
										<input type="text" class="form-control h-auto py-2" name="country" value="{{ old('country') }}" />
										<span class="text-danger">@error('country'){{$message}}@enderror</span>
										<!--<div class="custom-select-1">
											<select class="form-select form-control h-auto py-2" name="country" required>
												<option value="" selected></option>
												<option value="usa">United States</option>
												<option value="spa">Spain</option>
												<option value="fra">France</option>
												<option value="uk">United Kingdon</option>
											</select>
										</div>-->
									</div>
								</div>
								<div class="row">
									<div class="form-group col">
										<label class="form-label">ZIP <span class="text-color-danger">*</span></label>
										<input type="text" class="form-control h-auto py-2" name="zip" value="{{ old('zip') }}" required />
										<span class="text-danger">@error('zip'){{$message}}@enderror</span>
									</div>
								</div>
								
								<div class="row">
									<div class="form-group col">
										<div class="custom-checkbox-1">
											<input id="createAccount" type="checkbox" name="createAccount" value="1" />
											<label for="createAccount">Create an account ?</label>
										</div>
									</div>
								</div>
								<!-- <div class="row">
									<div class="form-group col">
										<div class="custom-checkbox-1" data-bs-toggle="collapse" data-bs-target=".shipping-field-wrapper">
											<input id="shipAddress" type="checkbox" name="shipAddress" value="1" />
											<label for="shipAddress">Shop to a different address ?</label>
										</div>
									</div>
								</div> -->
								<!-- Ship to a differente address fields -->
								<div class="shipping-field-wrapper collapse">
									<div class="row">
										<div class="form-group col-md-6">
											<label class="form-label">First Name <span class="text-color-danger">*</span></label>
											<input type="text" class="form-control h-auto py-2" name="shippingFirstName" value="{{ old('shippingFirstName') }}" required />
											<span class="text-danger">@error('shippingFirstName'){{$message}}@enderror</span>
										</div>
										<div class="form-group col-md-6">
											<label class="form-label">Last Name <span class="text-color-danger">*</span></label>
											<input type="text" class="form-control h-auto py-2" name="shippingLastName" value="{{ old('shippingLastName') }}" required />
											<span class="text-danger">@error('shippingLastName'){{$message}}@enderror</span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label class="form-label">Phone <span class="text-color-danger">*</span></label>
											<input type="number" class="form-control h-auto py-2" name="shippingPhone" value="{{ old('shippingPhone') }}" required />
											<span class="text-danger">@error('shippingPhone'){{$message}}@enderror</span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label class="form-label">Company Name</label>
											<input type="text" class="form-control h-auto py-2" name="shippingCompanyName" value="{{ old('shippingCompanyName') }}" />
											<span class="text-danger">@error('shippingCompanyName'){{$message}}@enderror</span>
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label class="form-label">Country/Region <span class="text-color-danger">*</span></label>
											<input type="text" class="form-control h-auto py-2" name="shippingCountry" value="{{ old('shippingCountry') }}" />
											<span class="text-danger">@error('shippingCountry'){{$message}}@enderror</span>
										
											<!--<div class="custom-select-1">
												<select class="form-select form-control h-auto py-2" name="shippingCountry" required>
													<option value="" selected></option>
													<option value="usa">United States</option>
													<option value="spa">Spain</option>
													<option value="fra">France</option>
													<option value="uk">United Kingdon</option>
												</select>
											</div>-->
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label class="form-label">Street Address <span class="text-color-danger">*</span></label>
											<input type="text" class="form-control h-auto py-2" name="shippingAddress1" value="{{ old('shippingAddress1') }}" placeholder="House number and street name" required />
											<span class="text-danger">@error('shippingAddress1'){{$message}}@enderror</span>
										</div>
									</div>
								<!-- 	<div class="row">
										<div class="form-group col">
											<input type="text" class="form-control h-auto py-2" name="shippingAddress2" value="" placeholder="Apartment, suite, unit, etc..." required/>
										</div>
									</div> -->
									<div class="row">
										<div class="form-group col">
											<label class="form-label">Town/City <span class="text-color-danger">*</span></label>
											<input type="text" class="form-control h-auto py-2" name="shippingCity" value="{{ old('shippingCity') }}" required />
											<span class="text-danger">@error('shippingCity'){{$message}}@enderror</span>

										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label class="form-label">State <span class="text-color-danger">*</span></label>
											<input type="text" class="form-control h-auto py-2" name="shippingState" value="{{ old('shippingState') }}" required />
											<span class="text-danger">@error('shippingState'){{$message}}@enderror</span>
										
											<!--<div class="custom-select-1">
												<select class="form-select form-control h-auto py-2" name="shippingState" required>
													<option value="" selected></option>
													<option value="ny">Nova York</option>
													<option value="ca">California</option>
													<option value="tx">Texas</option>
													<option value="">Florida</option>
												</select>
											</div>-->
										</div>
									</div>
									<div class="row">
										<div class="form-group col">
											<label class="form-label">ZIP <span class="text-color-danger">*</span></label>
											<input type="text" class="form-control h-auto py-2" name="shippingZip" value="{{ old('shippingZip') }}" required />
											<span class="text-danger">@error('shippingZip'){{$message}}@enderror</span>
										</div>
									</div>
									
									<!-- End of Ship to a differente address fields -->
								</div>
								<!--<div class="row">
									<div class="form-group col">
										<label class="form-label">Order Notes</label>
										<textarea class="form-control h-auto py-2" name="orderNotes" rows="5" placeholder="Notes about you orderm e.g. special notes for delivery"></textarea>
									</div>
								</div>-->
								<br>

                              <button type="submit" class="btn btn-block btn-danger w-100">Submit</button>

                              <br/><br/><br/>
                              <a href="login" class="text-decoration-none" style="color:black;text-align:center;align-items: center;"><strong>I already have an account. sign in</strong></a>

							</div>
							
						
							
							</form>
							
						</div>
					<!--</form>-->
				</div>

			</div> 
<footer id="footer" class="bg-transparent border-0 mt-0">
				<div class="container py-5">
					<div class="row text-center text-lg-start pt-4">
						<div class="col-lg-5 col-xl-4 mb-4 mb-lg-0">
							<h4 class="font-weight-bold text-color-dark text-4-5 mb-3">CUSTOMER SERVICE</h4>
							<ul class="list list-unstyled d-flex flex-column flex-sm-row justify-content-sm-center justify-content-lg-start mb-0">
								<li class="line-height-3 mb-0">
									<a href="#" class="text-decoration-none text-color-hover-primary">Help & FAQs</a>
								</li>
								<li class="line-height-3 border border-top-0 border-bottom-0 px-sm-3 mx-sm-3 mt-2 mt-sm-0 mb-0">
									<a href="#" class="text-decoration-none text-color-hover-primary">Order Tracking</a>
								</li>
								<li class="line-height-3 mt-2 mt-sm-0 mb-0">
									<a href="#" class="text-decoration-none text-color-hover-primary">Shipping & Delivery</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-xl-2 offset-xl-2 mb-4 mb-lg-0">
							<h4 class="font-weight-bold text-color-dark text-4-5 mb-3">SOCIAL MEDIA</h4>
							<ul class="social-icons social-icons-medium social-icons-clean-with-border social-icons-clean-with-border-border-grey social-icons-clean-with-border-icon-dark me-3 mb-0">
								<li class="social-icons-facebook"><a href="#" target="_blank" title="Facebook"><img src="public/images/icons/fb.png" alt="facebook" width="35px" height="35px" title="Facebook"></a></li>
								<li class="social-icons-twitter"><a href="#" target="_blank" title="Twitter"><img src="public/images/icons/twitter.jpeg" alt="twitter" width="35px" height="35px" title="Twitter"></a></li>
								<li class="social-icons-linkedin"><a href="#" target="_blank" title="Linkedin"><img src="public/images/icons/linkedin.png" alt="Linkedin" width="35px" height="35px" title="Linkedin"></a></li>
							</ul>
						</div>
						<div class="col-lg-4 col-xl-3 offset-xl-1">
							<h4 class="font-weight-bold text-color-dark text-4-5 mb-3">PAYMENT METHODS</h4>
							<div class="payment-cc payment-cc-no-hover-effect text-color-dark justify-content-center justify-content-lg-start">
								<i><img src="public/images/payment/visa.png" alt="visa" height="35px" width="35px"></i>
								<i><img src="public/images/payment/paypal.png" alt="visa" height="35px" width="45px"></i>
								<i><img src="public/images/payment/stripe.png" alt="visa" height="35px" width="35px"></i>
								<i><img src="public/images/payment/mastercard.png" alt="visa" height="35px" width="45px"></i>
								<i><img src="public/images/payment/applepay.png" alt="visa" height="35px" width="45px"></i>
							</div>
						</div>
					</div>
				</div>
			
				<div class="footer-copyright bg-transparent">
					@include('layouts.contactus_footer')
					<div class="container-fluid py-2">
                        	
						<hr class="bg-dark opacity-1 m-0">

						<div class="row" style="background-color: #4a4946;">
							<div class="col text-center py-4">
								<p class="mb-0 text-color-white">Ecommerce © Copyright 2021. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>

		<!--<a class="style-switcher-open-loader" href="#" data-base-path="" data-skin-src="master/less/skin-product-landing.less" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Style Switcher"><i class="fas fa-cogs"></i><div class="style-switcher-tooltip"><strong>Style Switcher</strong><p>Check out different color options and styles.</p></div></a>
		
		<a class="envato-buy-redirect" href="https://themeforest.net/checkout/from_item/4106987?license=regular&support=bundle_6month&ref=Okler" target="_blank" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Buy Porto"><i class="fas fa-shopping-cart"></i></a>
		<a class="demos-redirect" href="index.html#demos" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Demos"><img src="img/icons/demos-redirect.png" class="img-fluid" /></a>-->
		
		<script>
		 $(".toggle-password").click(function() {
         $(this).toggleClass("fa-eye fa-eye-slash");
         input = $(this).parent().find("input");
         if (input.attr("type") == "password") {
            input.attr("type", "text");
         } else {
            input.attr("type", "password");
         }
        });
		</script>

		<!-- Vendor -->
		</script><script src="public/assets/js/jquery.min.js"></script>
		<script src="public/assets/js/jquery.appear.min.js"></script>
		<script src="public/assets/js/jquery.easing.min.js"></script>
		<script src="public/assets/js/jquery.cookie.min.js"></script>
		<script src="public/assets/js/bootstrap.bundle.min.js"></script>
		<script src="public/assets/js/jquery.validate.min.js"></script>
		<script src="public/assets/js/jquery.easypiechart.min.js"></script>
		<script src="public/assets/js/jquery.gmap.min.js"></script>
		<script src="public/assets/js/lazysizes.min.js"></script>
		<script src="public/assets/js/jquery.isotope.min.js"></script>
		<script src="public/assets/js/owl.carousel.min.js"></script>
		<script src="public/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="public/assets/js/jquery.vide.min.js"></script>
		<script src="public/assets/js/vivus.min.js"></script>
		<script src="public/assets/js/star-rating.min.js"></script>
		<script src="public/assets/js/theme.min.js"></script>
		
	<!-- Theme Base, Components and Settings -->
		<script src="public/assets/js/theme.js"></script>

		<!-- Demo -->
		<script src="public/assets/js/demo-product-landing.js"></script>

		<!-- Theme Initialization Files -->
		<script src="public/assets/js/theme.init.js"></script>

	<!-- Examples -->
		<script src="public/assets/js/examples.image360.js"></script>
		<script src="public/assets/js/examples.gallery.js"></script>	


	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6d9ed7039a574a89","version":"2021.12.0","r":1,"token":"03fa3b9eb60b49789931c4694c153f9b","si":100}' crossorigin="anonymous"></script>
</body>
</html>
